@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
  --font-sm: 7px;
}

h1,
h2,
a,
p,
article,
input,
label {
  font-family: var(--font-lexend);
}

@media screen and (max-width: 1020px) {
  .first {
    position: absolute;
    top: -6px;
    right: 506px;
    font-size: 10px;
    width: 40px;
  }

  .email {
    position: absolute;
    top: -6px;
    left: 13px;
    font-size: 10px;
    width: 40px;
    height: 13px;
  }

  .phone {
    top: -6px;
    font-size: 10px;
    right: 170px;
    width: 83px;
  }

  .subject {
    position: absolute;
    top: -6px;
    left: 13px;
    font-size: 10px;
    width: 47px;
  }

  .message {
    position: absolute;
    top: 45px;
    left: 13px;
    font-size: 10px;
    width: 51px;
  }

  .error-first {
    position: absolute;
    top: 34px;
    left: 2px;
    font-size: 8px;
  }

  .error-last {
    position: absolute;
    top: 35px;
    right: 175px;
    font-size: 8px;
  }

  .error-email {
    position: absolute;
    top: 35px;
    left: 1px;
    font-size: 8px;
  }

  .error-phone {
    position: absolute;
    top: 35px;
    right: 64px;
    font-size: 8px;
  }

  .error-subject {
    position: absolute;
    top: 35px;
    left: 1px;
    font-size: 8px;
  }

  .error-message {
    position: absolute;
    top: 168px;
    left: 1px;
    font-size: 8px;
  }
}

@media screen and (max-width: 730px) {
  .sm {
    display: flex;
    max-width: 318px;
    flex-direction: column;
    gap: 15px;
  }

  .reviews {
  }

  .service-sm {
    padding: 30px 16px 39px 16px;
    gap: 30px;
  }

  .card-sm {
    max-width: 190px;
  }

  .card-section {
    gap: 17px;
    flex-wrap: wrap;
  }

  .article-sm {
    font-size: 7px;
    line-height: 8px;
    margin-bottom: 6px;
  }

  .btn-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42px;
    height: 16px;
    padding: 2px;
    font-size: 5px;
    border-radius: 29px;
  }

  .contact-sm {
    font-size: 8px;
    line-height: 12px;
  }

  .footer-sm {
    column-gap: 14px;
    row-gap: 14px;
  }

  .submit-sm {
    font-size: 7px;
    width: 74px;
    height: 20px;
    margin-bottom: 60px;
    padding: 3px;
  }

  .first-sm {
    height: 21px;
    padding: 9px 6px 8px 6px;
    font-size: 7px;
  }

  .first-sm::placeholder {
    font-size: 7px;
  }

  .last-sm {
    height: 21px;
    padding: 9px 6px 8px 6px;
    font-size: 7px;
  }

  .email-sm {
    width: 153px;
    height: 5px;
    padding: 9px 6px 8px 6px;
    font-size: 7px;
  }

  .phone-sm {
    width: 153px;
    height: 5px;
    padding: 9px 6px 8px 6px;
    font-size: 7px;
  }

  .subject-sm {
    height: 21px;
    font-size: 7px;
    padding: 9px 6px 8px 6px;
  }

  .message-sm {
    height: 67px;
    font-size: 7px;
    padding: 3px 3px 3px 5px;
  }

  .input-sm {
    gap: 12px;
  }

  .first {
    top: -4px;
    font-size: 7px;
    left: 14px;
    width: 28px;
    height: 5px;
  }

  .first-sec {
    display: block;
    top: 32px;
    font-size: 7px;
    left: 14px;
    width: 28px;
    height: 5px;
  }

  .email {
    font-size: 6px;
    width: 24px;
    height: 12px;
    top: -3px;
  }

  .phone-label-sm {
    top: -4px;
    right: 89px;
    font-size: 6px;
    width: 51px;
  }

  .subject-label-sm {
    font-size: 6px;
    width: 29px;
    top: -4px;
  }

  .message-label-sm {
    font-size: 6px;
    height: 8px;
    top: 31px;
    left: 11px;
    width: 35px;
  }

  .error-first {
    top: 21px;
    left: 1px;
    font-size: var(--font-sm);
  }

  .error-last {
    left: 1px;
    top: 58px;
    font-size: var(--font-sm);
  }

  .error-email {
    font-size: var(--font-sm);
    left: 1px;
    top: 21px;
  }

  .error-phone {
    font-size: var(--font-sm);
    right: -22px;
    top: 21px;
  }

  .error-subject {
    font-size: var(--font-sm);
    top: 21px;
    left: 2px;
  }

  .error-message {
    font-size: var(--font-sm);
    top: 104px;
    left: 1px;
  }
}
